html {
  scroll-behavior: smooth;
}
/* FONT */

i, em {
  font-family: Garamond;
  font-style: italic;
  text-decoration: underline;
}

i b {
  font-family: Garamond;
  font-style: italic;
  font-weight: bold;
}

h1 {
  font-family: Courier;
  font-weight: normal;
  text-decoration: underline;
  font-variant: small-caps;
  border-bottom: 0.8px solid #000;
  display: inline-block;
  font-size: 9px;
  margin: 1.5em;
}

body {
  font-family: serif;
  font-variant-ligatures: historical-ligatures;
  font-size: small;
  text-align: justify;
}

a {
  color: inherit;
  font-style: inherit;
  font-family: inherit;
  /* text-decoration: inherit; */
}

span {
  font-family: Courier;
  font-weight: normal;
  text-indent: 0em;
  text-align: center;
}

.title{
  font-size: medium;
  font-variant: normal;
  font-family: Garamond;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  display:block;
  clear: both;
  text-align: left;
  max-width: 50%;
  padding-top: 2em;
  padding-bottom: 0.5em;
}

.subtitle{
  font-size: medium;
  font-variant: normal;
  font-family: Garamond;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  display:block;
  clear: both;
  text-align: right;
  max-width: 50%;
  padding-top: 2em;
  padding-bottom: 0.5em;
  color: #808080;
}

.data {
  font-size: small;
  position: absolute;
  margin-top: -1em;
  right: 5%;
  text-align: right;
  color: #808080;
  font-style: italic;
}
.playlist {
  font-size: small;
  text-align: justify;
}
.none {
  font-size: xx-small;
  font-variant: small-caps;
}

body {
  max-width: 90%;
  /* width: 54 auto; */
  /* width: 100%; */
  /* min-width: 38em; */
  border: dashed thin;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  background-color: ghostwhite;
}

li {
  margin: 0;
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-align: left;
  list-style-position: outside;
  list-style-type: none;
  color: initial;
  text-decoration: none;
}

ol,
ul {
  padding-bottom: 0.4em;
  color: #808080;
}

/* MEDIA */

@media screen and (max-width: 38em) {
  .data {
    right:5%;
  }
  body {
    max-width: 95%;
  }
  span {
    line-height: initial;
  }
}
