html {
  scroll-behavior: smooth;
}
/* FONT */

i, em {
  font-family: Garamond;
  font-style: italic;
  text-decoration: underline;
}

i b {
  font-family: Garamond;
  font-style: italic;
  font-weight: bold;
}

h1,
h2,
h3 {
  font-family: Courier;
  font-weight: normal;
  margin: 1.5em;
  font-variant: small-caps;
}

h1 {
  text-decoration: underline;
  font-size: 9px;
  display: inline-block;
  border-bottom: 0.8px solid #000;
}

h2 {
  text-decoration: underline;
  font-family: Garamond;
  /* font-style: italic; */
  font-weight: bold;
  font-size: 14px;
  border-bottom: 0.8px solid #000;
  display: inline-block;
  margin-bottom: 2em;
}

/* h3 {
  
} */

body {
  font-family: serif;
  font-variant-ligatures: historical-ligatures;
  font-size: small;
  text-align: justify;
}

blockquote {
  color: #000;
}

blockquote > a {
  text-decoration: underline;
  color: #808080;
}

details > summary {
  cursor: cell;
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

div {
  font-style: italic;
  font-size: 14px;
  border-bottom: 0.8px solid #000;
  display:inline-block;
  margin-bottom: 0em;
}

a {
  color: inherit;
  font-style: inherit;
  font-family: inherit;
  text-decoration: inherit;
}

span {
  text-indent: 0em;
  text-align: center;
}

.data {
  font-size: small;
  text-decoration: none;
}

.playlist {
  font-size: small;
  text-align: justify;
}
.none {
  font-size: xx-small;
  font-variant: small-caps;
}

body {
  max-width: 90%;
  border: dashed thin;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  background-color: ghostwhite;
}

li {
  margin: 0;
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-align: left;
  /* list-style-position: outside;
  list-style-type: none; */
  color: initial;
  /* text-decoration: none; */
}

ol,
ul {
  padding-bottom: 0.4em;
  color: #808080;
}

/* MEDIA */

@media screen and (max-width: 38em) {
  body {
    max-width: 95%;
  }
  span {
    line-height: initial;
  }
}
